body{
  background-color: #ebe9d7;
}

.BEM-VINDO-AO-EMPRESA {
  font-family: Roboto;
  font-weight: bold !important;
  text-align: center;
  color: #383743;
}
.texto2 {
  font-family: Roboto;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
}

.background {
  //height: 151px;
  background-image: linear-gradient(173deg, #ee4c77 0%, #0d0430 200%) !important;
  background-image: linear-gradient(173deg, var(--medium-pink), var(--dark-indigo)) ;
}

nav{
	
	padding-top:30px;
	padding-bottom:30px;
}

.search_buttom{
	font-size:50px !important;
}

.logo-nav{
	width: 234.2px;
	height: 57px;
	object-fit: contain;
}
nav.nav-extended {
    height: 125px !important;
}
.search_imput{
	padding-left:70px !important; 
    //padding-right: 70px !important;
	padding-top:4px !important; 
	padding-bottom:4px !important; 
	width:100% !important; 
	font-size:24px !important;
	
}




 .base_box1 {
  width:90%;
  margin-left:5%;
  height: 180px;
  border-radius: 4.7px;
  background-color: #ffffff;
  padding:20px;
  margin-top:10px;
}
.green_box1{
	height:130px;
	width:30%;
	background-color:#7DC075;
	float:left;
}

.body_box1{
	float:left;
	padding-left:20px;
}
.green_box2{
	height:200px;
	width:100%;
	background-color:#7DC075;
	float:top;
}

.body_box2{
	float:bottom;
	padding:20px;
}
  