<!DOCTYPE html>
<html>
	<head>
		 <!--
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		  <!-- Compiled and minified CSS -->
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

		  
		  
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body ng-app="app">
	
	
	
	
	<div ng-view></div>
	
	
	<!--{{app.page}}
	<a href="#!" ng-click="app.page='home'" class="btn waves-effect waves-teal">Home</a>
	<dash-board path="{{app.page}}/{{app.page}}.html"> </dash-board>
		{{app.page}}
		
		-->
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		


		
		<script type="text/javascript" src="js/app.js"></script><!---->
	</body>
</html>