 
 
 <div ng-controller="HomeCtrl as home">
 
 
  <nav  class="background nav-extended">
  
    <div class="nav-wrapper" ng-hide='home.input_search'>
	  <img class="logo-nav brand-logo center" src="img/logo-nav.png"
		 srcset="img/logo-nav@2x.png 2x,
				 img/logo-nav@3x.png 3x"
		 class="logo_nav">
      <ul id="nav-mobile" class="right">
        <li  ng-click="home.input_search=true"><a href=""  ><i class="material-icons  search_buttom">search</i></a></li>
      </ul>
    </div>
	
 
 
    <div ng-show='home.input_search'>
      
 
      <form>
	  
        <div class="input-field" style="padding:10px;">
          <input id="search" type="search" ng-model="name_enterprise" ng-keyup="search()" class="search_imput" required>
          <label class="label-icon" for="search"><i class="search_buttom material-icons" style="margin-top:-8px">search</i></label>
          <i  ng-click="name_enterprise='';enterprise=''" class="material-icons">close</i>
        </div>
      </form>
    </div>
	
  </nav>
  
  
  
  
  <div style="margin-top:100px" ng-hide='home.input_search'>
		<h5 ng-click="home.input_search=false"  class="center-align">Clique na busca para iniciar.</h5>
	</div>
  
  
  
 <div  ng-show='home.input_search'>
 <div input-field>
    <select  ng-model="type_selected" material-select watch>
      <option value="" disabled selected>Escolha um tipo de empresa</option>
	  <option value="all">Todos os tipos de empresas</option>
      <option ng-repeat="type in types.enterprise_types" value="{{type.id}}">{{type.enterprise_type_name}}</option>
    </select>
  </div>
  
  <div ng-repeat="enterprise in enterprises" ng-click="selectEnterprise(enterprise)" class="base_box1 ">
  
	<div class="green_box1" ng-hide="enterprise_selected">
	</div>
	<div class="body_box1"  ng-hide="enterprise_selected">
		<h4>{{enterprise.enterprise_name}}</h4>
		<h5>{{enterprise.country}}</h5>
		<h6>{{enterprise.enterprise_type.enterprise_type_name}}</h6>
	</div>
	<div class="green_box2" ng-show="enterprise_selected">
	</div>
	<div class="body_box2" ng-show="enterprise_selected">
		<h5>{{enterprise.description}}</h5>
	</div>
  </div>
  
  
  
	
<div/>