<div class="container" ng-controller="LoginCtrl as login" >
<div class="row" style="margin-top:10%">
	<div class="grid-example col s2 m4"></div>
		<img class="grid-example col s8 m4" src="img/logo-home.png"
     srcset="img/logo-home@2x.png 2x,
             img/logo-home@3x.png 3x"
     class="logo_home">
	<div class="grid-example col s2 m4"></div>
</div>	
<div class="row" style="margin-top:5%">
	<div class="grid-example col s1 m4"></div>
		<span class="grid-example col s10 m4 flow-text BEM-VINDO-AO-EMPRESA">
			BEM-VINDO AO EMPRESAS
		</span>
	<div class="grid-example col s1 m4"></div>
</div>	

<div class="row" style="margin-top:5%">
	<div class="grid-example col s0 m2"></div>
		<span class="grid-example col s12 m8 flow-text texto2">
			Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.
		</span>
	<div class="grid-example col s0 m2"></div>
</div>	


  <div class="row">
    <form class="col s12" ng-submit="login()">
      <div class="row">
        <div class="input-field col s12">
		
          <input id="icon_email" ng-model="user.email" type="text" class="validate">
          <label for="icon_email"  style="flow-text">
			  <i class="material-icons prefix  pink-text text-lighten-2">email</i>
			  <span style="margin-left:30px; font-size:20px">E-mail</span>
		  </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          
          <input id="icon_senha" ng-model="user.password" type="tel" class="validate">
		  
          <label for="icon_senha"  style="flow-text">
			  <i class="material-icons prefix  pink-text text-lighten-2">lock_open</i>
			  <span style="margin-left:30px; font-size:20px">Senha</span>
		  </label>
        </div>
      </div>
      <div class="row">
		<div class="grid-example col s1"></div>
		<input type="submit" value="Entrar" class="btn waves-effect waves-teal col s10"/>
		</div>
    </form>
  </div>
  
 
</div>